 #btn-open {
     font-size:24pt;
     box-shadow: 2px 2px 2px #333333;
     border:1px solid #dddddd;
     border-radius:10px;
 }
 #btn-open:hover {
     border:2px solid blue;
 }
 #my-popup {
     border: 5px solid #dddddd;
     background-color:#ffffff;
     z-index: 999999;
     position:absolute;
     top:50px;
     left:50px;
 }